<h1><%= t('edit_resource', resource: t('article')) %></h1>

<%= render 'form' %>

<%= link_to t('show'), @article, class: 'btn btn-default' %> |
<%= link_to t('back'), articles_path, class: 'btn btn-default' %>
