<div class="jumbotron">
  <%= make_mercury('jumbotron-title', :simple, :h1, true) %>
  <%= make_mercury('jumbotron-subtitle', :simple, :p, true) %>

  <%= make_mercury('frontpage-header-image', :image, nil, false) %>
</div>