<div class="jumbotron">
  <%= make_mercury('jumbotron-title', :simple, :h1, true) %>
  <%= make_mercury('jumbotron-subtitle', :simple, :h2, true) %>
  <%= make_mercury('jumbotron-content', :full, :p, true) %>
  <%= make_mercury('jumbotron-image', :image) %>
</div>