<div class="jumbotron">
  <%= make_mercury('jumbotron-title', :h1) %>
  <%= make_mercury('jumbotron-subline', :p) %>

  <p><%= link_to 'Register Now', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>

</div>