<div class="jumbotron">
  <%= make_mercury('jumbotron-title', :snippets) %>

  <p><%= link_to 'Register Now', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>

  <script type="application/javascript">
      jQuery(window).bind('mercury:ready', function () {

      });
  </script>
</div>