<%= form_for(@role) do |f| %>
    <%= errors_for @role %>

    <div class="field">
      <%= f.bootstrap_text_field :name, label: t('name') %>
    </div>
    <div class="actions">
      <%= f.submit t('submit'), class: 'btn btn-default' %>
    </div>
<% end %>
