<%= form_for(@role) do |f| %>
    <%= errors_for @role %>

    <div class="field">
      <%= f.bootstrap_text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-default' %>
    </div>
<% end %>
