<h1><%= t('edit_resource', resource: t('role')) %></h1>

<%= render 'form' %>

<%= link_to t('show'), @role, class: 'btn btn-default' %> |
<%= link_to t('back'), roles_path, class: 'btn btn-default' %>
