/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.flag {
  width: 16px;
  height: 16px;
  background:url(flags.png) no-repeat
}

.flag.flag-at {background-position: -16px 0}
.flag.flag-de {background-position: -32px 0}
.flag.flag-gb {background-position: 0 -16px}
.flag.flag-us {background-position: -16px -16px}
