<p>Hallo <%= @email %>!</p>

<p>Du kannst mittels den nachfolgenden Link Deine Email bestätigen:</p>

<p><%= link_to 'Meinen Account bestätigen', confirmation_url(@resource, confirmation_token: @token) %></p>
