<p>Hallo <%= @resource.email %>!</p>

<p>Irgendwer - hoffentlich Du - haben ein neues Passwort angefordert. Mit dem folgenden Link kannst Du ein neues Passwort einrichten.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn Du Dein Passwort nicht ändern willst oder diese Email versehentlich bekommen hast, ignoriere sie einfach</p>
